# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Setup MariaDB
        # You may pin to the exact commit or the version.
        # uses: mirromutth/mysql-action@de1fba8b3f90ce8db80f663a7043be3cf3231248
        uses: getong/mariadb-action@v1.1
        with:
          # The port of host
          host port: 3306 # optional, default is 3306
          container port: 3306
          collation server: utf8mb4_unicode_ci
          mariadb version: latest
          # MYSQL_DATABASE - name for the default database that is created
          mysql database: RM5_CI # optional, default is
          # MYSQL_USER - create the specified user with superuser power for created database
          mysql user: RM5_CI  # optional, default is
          # MYSQL_PASSWORD - specified superuser password which user is power for created database
          mysql password: RM5_CI # optional, default is
      - run: npm ci
      - run: cp .env.example .env
      - run: npm run build
      - run: npm run ci --if-present